---
import NavbarItem from "./NavbarItem.astro";
interface Props {
  active: string;
}
---

<nav class="navbar py-2 shadow-sm navbar-expand-lg fixed-top bg-white">
  <div class="container">
    <a class="navbar-brand fs-4 fw-bold" href=" #"> CAMEROON </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample11">
      <ul class="navbar-nav ms-auto justify-content-lg-center fw-semibold">
        <NavbarItem
          endpoint="home"
          href="/cameroon"
          title="HOME"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="menu"
          href="/cameroon/menu"
          title="MENU"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="layanan"
          href="#"
          title="LAYANAN"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="member"
          href="#"
          title="MEMBER"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="peluang"
          href="#"
          title="PELUANG"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="berita"
          href="#"
          title="BERITA"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="kontak"
          href="#"
          title="KONTAK"
          active={Astro.props.active}
        />
        <NavbarItem
          endpoint="tentang kami"
          href="#"
          title="TENTANG KAMI"
          active={Astro.props.active}
        />
        <slot name="nav-bottom" />
        <style>
          .navbar {
            max-width: 100vw;
          }
          .navbar-brand {
            color: var(--primary) !important;
          }
        </style>
      </ul>
    </div>
  </div>
</nav>
